// Account Auth Modal

.auth-modal {
  --modal-width: 34.75rem;
  --modal-outter-padding: var(--spacing);

  @breakpoint md {
    --modal-padding: var(--spacing-2xl) var(--spacing-2xl);
  }
}

// Address book

.address-book-edit-modal {
  --modal-width: 70.25rem;

  &.closing {
    transform: translate(50%, 50%);
    animation-name: center-to-bottom;
    animation-duration: 1s;
  }
}

@keyframes center-to-bottom {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 0;
  }
}

.address-book-edit-modal .ra-modal__header {
  justify-content: flex-end;
}

.address-book-edit-modal .ra-modal__content {
  padding: 1rem;
  @media screen and (min-width: 1200px) {
    padding: 2rem;
  }
}

// Ra Table Styles
.ra-table__heading {
  background-color: var(--table-heading-background);
  font-family: var(--font-family-secondary);
}

// Order Line Items

.order-details__summary {
  --divider-color: var(--c-gray-300);
  --divider-margin: 1rem 0;
}
