/*
 * Include CSS resets, font settings
 *  See: https://cssguidelin.es/#table-of-contents
 */

@import "fonts";
@import "typography";
@import "grid";

body {
  font-size: var(--font-size);
  color: var(--color-grey-900);
  font-family: var(--font-family-primary);
  background-color: var(--color-util-white);
  font-weight: 400;
}
