.section-divider {
  background-color: var(--section-divider-bg-color);
  padding-top: var(--section-divider-mobile-padding-top);
  padding-bottom: var(--section-divider-mobile-padding-bottom);

  @breakpoint sm {
    padding-top: var(--section-divider-desktop-padding-top);
    padding-bottom: var(--section-divider-desktop-padding-bottom);
  }
}

.section-divider .divider {
  width: 100%;
  height: 1px;
  background-color: var(--section-divider-color);
}
