.main-widget {
  @apply max-w-[1124px];
  margin: 0 auto !important;

  .yotpo-label.yotpo-small-box {
    display: none;
  }
  .yotpo-display-wrapper {
    .yotpo-regular-box.yotpo-bottomline {
      @apply flex flex-col items-center pb-0;
    }
    .yotpo-stars-and-sum-reviews {
      @apply mb-[10px] flex flex-col items-center;

      .yotpo-icon {
        @apply text-primary-900;
      }
      .based-on {
        @apply font-primary text-base;
      }
    }
    .yotpo-star-distribution {
      border: none !important;

      .yotpo-star-distribution-content {
        margin-bottom: 0 !important;
      }

      .yotpo-icon-star,
      .yotpo-icon-empty-star {
        color: var(--color-primary-900) !important;
      }
      .yotpo-sum-reviews {
        @apply text-primary-900;
      }
      .yotpo-star-distribution-graph-score {
        background-color: var(--color-primary-900) !important;
      }
    }
    .yotpo-default-button.write-review-button {
      @apply mt-10 font-secondary px-10 py-4 ml-3;
      position: relative !important;
      top: 0 !important;
      background-color: var(--color-primary-900) !important;

      .yotpo-icon-write {
        @apply hidden;
      }
      .yotpo-icon-button-text {
        @apply font-secondary text-sm capitalize font-medium;
      }
    }
  }
  .yotpo-nav.reviews {
    border-color: var(--color-primary-900) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .yotpo-nav-primary {
    padding-top: 40px !important;

    @breakpoint md-max {
      margin: 40px 12px 0 12px !important;
    }

    .yotpo-nav-tab {
      @apply mr-6;
      margin-bottom: 0 !important;
    }

    .yotpo-nav-wrapper {
      margin-bottom: 24px !important;
      border-bottom: 2px solid var(--color-primary-900) !important;

      span {
        @apply font-secondary font-medium tracking-wider pb-[6px] text-[13px];
        color: var(--color-grey-900) !important;
      }
    }
  }
  .yotpo-review {
    border-top: none !important;
    border-bottom: 1px solid var(--color-primary-900) !important;
    margin: 0 !important;
    padding: 12px 100px !important;

    @breakpoint md-max {
      padding: 12px !important;
    }
    .yotpo-main {
      margin-left: 0 !important;
    }
    .yotpo-user-name,
    .yotpo-user-title {
      @apply font-primary;
      color: var(--color-primary-900) !important;
    }
    .yotpo-user-name {
      font-weight: 500 !important;
    }
    .yotpo-icon {
      color: var(--color-primary-900) !important;
    }  
    .yotpo-icon-profile {
      display: none !important;
    }
    .content-title,
    .content-review,
    .label-helpful,
    .yotpo-review-date,
    .vote-sum {
      @apply font-primary;
      color: var(--color-primary-900) !important;
    }
    .content-title {
      font-weight: 500;
    }
    .yotpo-footer {
      margin-left: 0 !important;
    }
  }
  .yotpo-pager {
    .yotpo-page-element {
      padding: 10px;
      min-width: 40px;
      transition: 0.25s all ease-in-out;

      &.goTo {
        color: var(--color-util-black) !important;

        &:hover {
          background-color: var(--color-grey-100) !important;
        }
      }
      &.yotpo-active {
        color: var(--color-util-white) !important;
        background-color: var(--color-primary-900) !important;

        &:hover {
          color: var(--color-util-white) !important;
          background-color: var(--color-primary-900) !important;
        }
      }
      &.yotpo_previous,
      &.yotpo_next {
        color: var(--color-util-black) !important;

        &:hover {
          color: var(--color-util-white) !important;
          background-color: var(--color-primary-900) !important;
        }
      }
      &.yotpo_previous {
        margin-right: 10px !important;
      }
      &.yotpo_next {
        margin-left: 0px !important;
      }
    }
  }
}

.review-dropdown {
  .ra-input__label {
    display: none !important;
  }
  .ra-select__arrow {
    transform: scale(2) !important;
  }
}

.product__rating-widget {
  display: flex;
  flex-direction: column;
  width: 100%;

  .ra-quantity-selector--dropdown {
    @breakpoint md-max {
      width: calc(50% - 5px);
      margin-bottom: 7px;
    }
  }
}

.bv__search {
  .ra-input:first-child {
    @breakpoint sm-max {
      width: 100% !important;

      .bv__write-review {
        @apply min-w-[72px];
      }
    }
  }
  .ra-input__control--text,
  .ra-input__control--text::placeholder {
    width: 100% !important;
    background-color: transparent;

    @breakpoint md {
      max-width: 429px;
      width: 40vw !important;
    }
  }

  .ra-input__control--text::placeholder {
    position: relative;
    top: 0;
  }
}

.bv__filters-title {
  @apply font-secondary font-semibold md:font-normal text-xs uppercase mb-[10px];
}

.review-modal.drawer__overlay {
  background: rgba(32, 32, 32, 0.3);
  z-index: 999;
  height: 100vh;
  position: sticky;
}
.review-modal .modal__content {
  @apply bg-white w-3/5 absolute;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -300px;

  @breakpoint md-max {
    width: 100%;
    height: 300px;
    margin-left: -50%;
    margin-top: -150px;
  }
}
