.hero-video {
  position: relative;

  @media breakpoint(md-max) {
    video {
      object-fit: cover;
    }
  }

  .ra-hero__details {
    z-index: 2;
  }

  .ra-hero__media {
    z-index: 1;
  }

  .ra-hero__details {
    color: var(--text-color-desktop);
    @media breakpoint(md-max) {
      color: var(--text-color-mobile);
      aspect-ratio: 0 !important;
    }
  }

  /* Stack on mobile */
  .ra-hero.ra-hero--stack-mobile {
    @media breakpoint(md-max) {
      display: flex;
      flex-direction: column;

      .ra-hero__media,
      .ra-hero__details {
        position: static;
      }

      .ra-hero__media {
        order: -1;
      }

      .ra-hero__details {
        background-color: var(--background-color);
        position: static;
        height: auto;
      }
    }
  }
}

.ra-hero__description {
  ul li {
    list-style: circle;
    width: fit-content;
  }
  ol li {
    list-style-type: decimal;
    width: fit-content;
  }
}

.ra-hero__copy.set--h-align-center {
  .ra-hero__description {
    li {
      width: fit-content;
      margin: auto;
    }
  }  
}