.product-star-rating {
  .yotpo .yotpo-bottomline {
    gap: 4px;
  }

  .yotpo .yotpo-bottomline a {
    color: var(--color-grey-700) !important;
    font-size: var(--font-size-sm);
    line-height: 1.4;
  }

  .yotpo .yotpo-bottomline .yotpo-icon-empty-star,
  .yotpo .yotpo-bottomline .yotpo-icon-star {
    color: var(--color-primary-900);
  }

  .stamped-badge-starrating {
    margin-right: 5px !important;
  }

  .stamped-fa-star,
  .stamped-fa-star-o {
    color: var(--color-primary-900);
  }

  .stamped-badge-caption {
    color: var(--color-grey-700);
    font-size: var(--font-size-sm);
  }
}
