/*------------------------------------*\
  #SASS and CSS variables
\*------------------------------------*/

$xs: theme("screens.xs");
$sm: theme("screens.sm");
$md: theme("screens.md");
$lg: theme("screens.lg");
$xl: theme("screens.xl");
$xxl: theme("screens.2xl");

:root {
  --screen-xs: #{$xs};
  --screen-sm: #{$sm};
  --screen-md: #{$md};
  --screen-lg: #{$lg};
  --screen-xl: #{$xl};
  --screen-xxl: #{$xxl};
}
