.ra-accordion-item .ra-accordion-item__minus-icon {
  display: none;
}

.ra-accordion-item[open]:not(.is-closing) .ra-accordion-item__minus-icon {
  display: block;
}

.ra-accordion-item[open]:not(.is-closing) .ra-accordion-item__plus-icon {
  display: none;
}

.ra-accordion-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  transition: 0.3s ease;
  cursor: pointer;
  transition-property: transform, opacity;
  padding: 10px 0;
}

.ra-accordion-item__header::-webkit-details-marker {
  display: none;
}

.ra-accordion-item__content {
  transition: height 0.3s ease;
  overflow: hidden;
  padding: 10px 0;
}
