/* 
  inherits style from @bva/ui-shared/styles/components.css
  overriding CSS var for colors only 
*/

.ra-button {
  transition: all .5s ease-in-out;
  outline-offset: 2px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;
  --button-display: inline-flex;

  &:disabled {
    background-color: var(--input-disabled-background-color);
    border-color: var(--input-disabled-border-color);
    color: var(--input-disabled-border-color);
  }
}

.ra-button--primary {
  --button-background: var(--btn-primary-bg-default);
  --button-background-interact: var(--btn-primary-bg-hover);
  --button-border-color: var(--btn-primary-border-default);
  --button-border-color-interact: var(--btn-primary-border-hover);
  --button-color: var(--btn-primary-text-default);

  &:hover {
    --button-color: var(--btn-primary-text-hover);
  }

  &:focus {
    outline-color: var(--btn-primary-outline-color);
  }
}

.ra-button--secondary {
  --button-background: var(--btn-secondary-bg-default);
  --button-background-interact: var(--btn-secondary-bg-hover);
  --button-border-color: var(--btn-secondary-border-default);
  --button-border-color-interact: var(--btn-secondary-border-hover);
  --button-color: var(--btn-secondary-text-default);

  &:hover {
    --button-color: var(--btn-secondary-text-hover);
  }

  &:focus {
    outline-color: var(--btn-secondary-outline-color);
  }
}

.ra-button--tertiary {
  --button-background: var(--btn-tertiary-bg-default);
  --button-background-interact: var(--btn-tertiary-bg-hover);
  --button-border-color: var(--btn-tertiary-border-default);
  --button-border-color-interact: var(--btn-tertiary-border-hover);
  --button-color: var(--btn-tertiary-text-default);

  &:hover {
    --button-color: var(--btn-tertiary-text-hover);
  }

  &:focus {
    outline-color: var(--btn-tertiary-outline-color);
  }
}

.ra-split-button__alt-action {
  svg { width: 11px; }
}