.header {
	--header-height: 70px;
	--gutter-xxs: 12px;
	--gutter-xs: 14px;
	--gutter-sm: 24px;
	--gutter: 36px;
	--gutter-lg: 48px;
	--dropdown-min-width: 250px;
	--dropdown-link-size: 14px;
	--font-sm: 14px;
	--font-md: 18px;
	--font-lg: 24px;
	--featured-image-mobile: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	left: 0;
	top: var(--header-position-top);
	background-color: var(--background-color);
	transition: all .3s;
	z-index: 500;
	height: var(--header-height);

	.header__wrapper {
		display: flex;
		height: 100%;

		// mobile
		@breakpoint md-max {
			justify-content: space-between;
			.header__logo,
			.header__action {
				margin: 0 !important;
			}
			.header__hamberger {
				margin-right: calc(var(--gutter-sm) * 2);
			}
		}
	}

	// reset
	a:link,
	a:visited {
		color: var(--link-color);
		font-size: var(--font-md);
		--icon-color: var(--link-color);

		&:hover,
		&:active {
			color: var(--link-hover-color);
			--icon-color: var(--link-hover-color);
		}
	}
	.ra-icon svg { transition: all .3s; }
	ul,
	ul li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	// hamberger
	.header__hamberger {
		display: flex;
		align-items: center;
		width: var(--gutter-sm);

		@breakpoint md {
			display: none;
		}

		.hamberger-icon { display: flex; }
		.close-icon { display: none; }

		&.active {
			.hamberger-icon { display: none; }
			.close-icon { display: flex; }
		}
	}

	// logo
	.header__logo {
		margin-right: var(--gutter-sm);
		display: flex;
		align-items: center;
		max-width: var(--logo-width-mobile);

		@breakpoint md {
			max-width: var(--logo-width-desktop);
		}
	}
	.header__logo-image {
		width: 100%;
		display: block;
	}

	// menu - desktop
	.header__navigation {
		@breakpoint md-max {
			display: none;
		}

		.header__navigation-list,
		.header__navigation-item,
		.header__navigation-link {
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;
			line-height: 100%;
			cursor: pointer;
		}

		.header__navigation-list {}

		.header__navigation-item:hover svg {
			transform: rotate(180deg);
		}

		.header__navigation-link {
			padding: 0 var(--gutter-sm);
			
			.ra-icon {
				margin-left: var(--gutter-xxs);
				&,
				svg {
					width: var(--gutter-xxs);
					height: var(--gutter-xxs);
				}
			}
		}

		.header__navigation-item.header__navigation-item--has-child,
		.header__navigation-item.header__navigation-item--has-mega-menu {
			position: relative;

			.header__navigation-dropdown {
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 0;
				display: none;
				background-color: var(--background-color);
				border-top: 1px solid var(--link-color);
				z-index: 505;

				&.active {
					opacity: 1;
					display: flex;
					flex-direction: column;
				}
			}
		}

		// dropdown 1 level link
		.header__navigation-item.header__navigation-item--has-child {
			.header__navigation-dropdown {
				padding: var(--gutter-sm);
				min-width: var(--dropdown-min-width);
			}

			.header__navigation-dropdown-item,
			.header__navigation-dropdown-link {
				display: flex;
			}
			.header__navigation-dropdown-item {
				&:not(:last-child) {
					margin-bottom: var(--gutter-xs);
				}
			}
			.header__navigation-dropdown-link {
				font-size: var(--font-sm);
				line-height: var(--font-sm);
			}
		}

		// mega menu - 2+ level links
		.header__navigation-item.header__navigation-item--has-mega-menu {
			.header__navigation-dropdown {
				position: fixed;
				width: 100%;
				top: var(--dropdown-position-top);
				padding: var(--gutter-sm) 0 var(--gutter-sm) 0;
			}

			.header__navigation-dropdown-mega-menu {
				display: grid;
				gap: var(--gutter-sm);
				width: 100%;
				grid-template-columns: repeat(3, 1fr);

				@breakpoint md {
					grid-template-columns: repeat(5, 1fr);
				}

				> .header__navigation-dropdown-item { margin: 0; }
				
				.header__navigation-dropdown-item,
				.header__navigation-dropdown-link,
				.header__navigation-mega-menu {
					display: flex;
					flex-direction: column;
				}

				.header__navigation-dropdown-link--label {
					text-transform: uppercase;
					font-weight: 500;
					margin-bottom: var(--font-lg);
				}
			}
		}

		// Featured Content
		.header__navigation-featured-content {
			position: relative;
			width: 100%;
			height: 100%;

			&.portrait {
				aspect-ratio: 0.85 / 1;
			}
			&.square {
				aspect-ratio: 1 / 1;
			}

			.header__navigation-featured-content-wrapper,
			.header__navigation-featured-content-image {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
			}

			.header__navigation-featured-content-wrapper {
				padding: var(--gutter-sm);
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}

			.header__navigation-featured-content-image {
				z-index: 1;
				object-fit: cover;
			}

			.header__navigation-featured-content-title {
				color: var(--color-grey-900);
				font-size: var(--font-lg);
			}

			.header__navigation-featured-content-button {
				margin-top: var(--gutter-xs);
				font-size: unset
			}
		}
	}

	// menu - mobile
	.header__mobile-navigation {
		display: none;
		opacity: 0;
		left: 0;
		position: fixed;
		width: 100%;
		top: var(--content-postion-top);
		height: calc(100vh - var(--content-postion-top));
		border-top: 1px solid var(--link-color);
		background-color: var(--background-color);
		z-index: 510;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: all .3s;

		&.active {
			@breakpoint md-max {
				display: flex;
				flex-direction: column;
				opacity: 1;
			}
		}

		.header__mobile-navigation-item {
			border-bottom: 1px solid var(--link-color);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.header__mobile-navigation-link {
			padding: var(--gutter-sm);
			font-size: var(--font-md);

			.ra-icon {
				&,
				svg {
					width: var(--gutter-xxs);
					height: var(--gutter-xxs);
				}
			}
		}

		// drawer - 2nd level menu
		.header__mobile-navigation-drawer {
			position: fixed;
			flex-direction: column;
			top: 0;
			left: 100%;
			width: 100%;
			display: flex;
			top: -var(--content-postion-top);
			height: 100%;
			background-color: var(--background-color);
			z-index: 515;
			transition: all 0.5s;
			
			&.active {
				left: 0;
			}

			// drawer header
			.header__mobile-navigation-drawer-header {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: var(--header-height);
				border-bottom: 1px solid var(--link-color);
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: var(--background-color);
			}
			.header__mobile-navigation-drawer-close {
				display: flex;
				padding: var(--gutter-sm);
				.ra-icon {
					&,
					svg {
						width: 16px;
						height: 16px;
					}
				}
			}
			.header__mobile-navigation-drawer-title {
				font-size: var(--font-md);
				font-weight: 500;
				color: var(--link-color);
				text-transform: capitalize;
			}

			// drawer content 
			.header__mobile-navigation-drawer-content {
				overflow-y: auto;
				overflow-x: hidden;
				display: block;
				margin-top: var(--header-height);
			}
			.header__mobile-navigation-item {
				flex-wrap: wrap;
				padding: 0;
			}
			.header__mobile-navigation-link {
				padding-bottom: var(--gutter-sm);

				&.active svg {
					transform: rotate(-180deg);
				}
			}

			// dropdown - 3rd level menu
			.header__mobile-navigation-dropdown {
				width: 100%;
				display: flex;
				flex-direction: column;
				height: 0;
				overflow: hidden;
				transition: all .3s ease-in-out;
				padding: 0 var(--gutter-sm);

				&.active {
					overflow: visible;
					min-height: var(--dropdown-height);
				}

				.header__mobile-navigation-item,
				.header__mobile-navigation-link {
					border: none;
					padding: 0;
				}

				.header__mobile-navigation-item {
					margin-bottom: var(--gutter-xs);
					&:last-child {
						margin-bottom: var(--gutter-sm);
					}
				}

				.header__mobile-navigation-link {
					font-size: var(--font-sm);
				}
			}
		}

		// Featured Content
		.header__mobile-navigation-featured-content {
			position: relative;
			max-width: calc(100% - var(--gutter-lg));
			display: flex;
			margin-top: var(--gutter-sm);
			aspect-ratio: 3.8 / 2;
			left: var(--gutter-sm);

			&:last-child {
				margin-bottom: var(--gutter-sm);
			}

			.header__mobile-navigation-featured-content-wrapper,
			.header__mobile-navigation-featured-content-image {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
			}

			.header__mobile-navigation-featured-content-wrapper {
				padding: var(--gutter-sm);
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				z-index: 2;
			}

			.header__mobile-navigation-featured-content-image {
				z-index: 1;
				object-fit: cover;
			}

			.header__mobile-navigation-featured-content-title {
				color: var(--color-grey-900);
				font-size: var(--font-md);
			}

			.header__mobile-navigation-featured-content-button {
				margin-top: var(--gutter-xxs);
				font-size: unset;
			}
		}
	}

	// header action links
	.header__action {
		margin-left: auto;

		.header__action-list,
		.header__action-item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		.header__action-list {}

		.header__action-item {
			height: 100%;
			&:not(:last-child) {
				margin-right: var(--gutter-sm);
			}
		}

		.header__action-item--account,
		.header__action-item--wishlist {
			@breakpoint md-max {
				display: none;
			}
		}
	}
}
