.product-media-gallery {
  --thumbnails-width: 5rem;
  --thumbnails-horizontal-gap: 0.75rem;
  --modal-width: 1200px;


  dialog {
    background-color: transparent;
    width: 100%;
    overflow: hidden;
  }

  dialog::backdrop {
    background: transparentize($color: #000000, $amount: 0.35)
  }

  .ra-modal__content {
    background-color: transparent;
  }

  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
}
