/*

Disabled Swatch Styles

This is potentially a future state, but not ready for MVP
As such it is not included within components.scss

*/

.product-form__option-picker--square {
  .ra-option {
    &.ra-option--disabled:after {
      @apply -rotate-45;
      content: "";
      display: block;
      border-radius: 0;
      border-bottom: 1px solid var(--color-grey-400);
      padding: 0;
      position: absolute;
      width: 57px;
      top: 50%;
      left: -17%;
    }
  }
}

// .product-form__option-picker--horizontal {
//   .ra-option {
//     &.ra-option--disabled::after {
//       @apply -rotate-[18deg];
//       content: "";
//       display: block;
//       border-radius: 0;
//       border-bottom: 1px solid var(--color-grey-400);
//       padding: 0;
//       position: absolute;
//       width: 150px;
//       top: 49%;
//       left: -2%;
//     }
//   }
// }
