.ra-product-form {
  --picker-label-font-size: 16px;
  // --picker-option-height: 50%;

  --picker-option-selected-background: var(--color-secondary-900);
  --picker-option-selected-background: var(--color-secondary-900);
  --picker-option-selected-color: var(--color-util-white);
  --picker-option-interact-background: var(--color-primary-900);

  --qty-selector-input-height: 2.75rem;
}
