.ra-product-form {
  /* Option Picker */
  --picker-label-font-size: 16px;
  --picker-option-border-color: var(--color-grey-400);

  --picker-option-selected-background: var(--color-util-white);
  --picker-option-selected-border-color: var(--color-grey-900);
  --picker-option-selected-color: var(--color-grey-900);

  --picker-option-interact-background: var(--color-primary-900);
  --picker-option-interact-color: var(--color-util-white);

  --option-picker-square-height: 45px;
  --option-picker-horizontal-height: 3rem;

  --qty-selector-input-height: 2.75rem;

  /* Quantity Selector */
  --qty-selector-input-height: 54px;
  --qty-selector-button-height: 54px;

  /* Add to Cart CTA */
  --button-height: 54px;
}
