.ra-range-slider {
  width: calc(100% - 30px);
}

.ra-slider,
.ra-slider .noUi-handle {
    box-shadow: none;
}

.ra-slider {
  height: 4px;
  margin: 10px 0;
}

/* Hide markers on slider handles */
.ra-slider .noUi-handle::before,
.ra-slider .noUi-handle::after {
    display: none;
}

.ra-slider .noUi-handle .noUi-touch-area {
  border: 1px solid transparent;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  width: auto;
  height: auto;
}

.ra-slider.noUi-horizontal .noUi-tooltip {
  bottom: -130%;
  padding: 0;
  border-width: 0;
}

.ra-slider .noUi-connect {
  background-color: var(--color-grey-900);
}

.ra-slider .noUi-handle {
  background-color: var(--color-primary-900);
  height: 24px;
  width: 24px;
  top: -10px;
  right: -9px; /* half the width */
  border-radius: 12px;
}
