.ra-tabs--default,
.ra-tabs--stack {
  --tabs-content-border-width: 1px;
  --tabs-content-border-color: var(--link-color);
  --tabs-title-border-color: var(--link-color);
  --tabs-title-color: var(--link-color);

  .ra-tab__content {
    height: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    padding: 0;

    &.ra-tab__content--open {
      opacity: 1;
    }

    .ra-tab__content-inner {
      padding: 20px;
    }
  }

  .ra-tab__toggle {
    padding: 0 20px;
  }

  .ra-tab__toggle svg,
  .ra-tab__toggle .ra-icon {
    transition: all 0.3s ease-in-out;
  }

  .ra-tab__toggle.ra-tab__toggle--open svg {
    transform: rotate(-180deg);
  }
}

.ra-tabs--stack .ra-tab {
  &:not(:last-child) {
    .ra-tab__content {
      border-bottom: 0 !important;
    }
  }
}

.ra-tabs--default {
  .ra-tab__toggle svg,
  .ra-tab__toggle .ra-icon {
    display: none;
  }
}
