.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    &:after,
    &:before {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 2rem;
  }

  .swiper-button-next {
    right: 2rem;
  }

  .swiper-pagination {
    padding-bottom: 1rem;

    .swiper-pagination-bullet {}
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--pagination-color);
    }
  }
}

.product-carousel {
  position: relative;

  .ra-carousel-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .ra-product-tile__details {
    padding-bottom: 0;
  }

  .swiper-pagination {
    position: static;
    padding: 1rem 0;

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--swiper-pagination-color, var(--swiper-theme-color));
    }
  }
}