.collapsable-content {
  display: flex;
  flex-direction: column;
}

.collapsable-content .collapsable-item {}

.collapsable-content .collapsable-toggle {
  display: inline-flex;
  width: auto;
}

.collapsable-content .collapsable-content {
  height: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  &[data-expanded="true"] {
    opacity: 1;
  }

  .collapsable-content__inner {
    padding: 40px 0;
  }
}

// stacked
.collapsable-content[data-stacked="true"] .collapsable-toggle {
  width: 100%;
  text-align: left;
}

// center buttons when not stacked
.collapsable-content[data-center="true"] .collapsable-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}