/*------------------------------------*\
  #SASS and CSS variables
\*------------------------------------*/

:root {
  --screen-xs: theme("screens.xs");
  --screen-sm: theme("screens.sm");
  --screen-md: theme("screens.md");
  --screen-lg: theme("screens.lg");
  --screen-xl: theme("screens.xl");
  --screen-xxl: theme("screens.2xl");

  --color-util-black: #000000;
}
